/* font-family */
p{
    font-family: Arial;
}

h1{
    font-family: Georgia;
}

/* font-size */
body{
    font-size: 10px;
}
h1{
    font-size: 5.0em;
}
p{
    font-size: 2.0em;
}
span{
    font-size: 2.0em;
}
/* font-weight */


/*line-height */


/* text-align */


/* text-decoration */
