/* font-family */
p{
    font-family: Arial;
}

h1{
    font-family: Georgia;
}

/* font-size */
body{
    font-size: 10px;
}
h1{
    font-size: 5.0em;
}
p{
    font-size: 2.0em;
}
span{
    font-size: 2.0em;
}
/* font-weight */

p{
    font-weight: bold;
}
/*line-height */
p{
    line-height: 1.5;
}

/* text-align */
h1{
    text-align: center;
}

p{
    text-align: center;
}

/* text-decoration */
