h1{
    color: #FF0000;
}

li{
    color: green;
}

h4{
    color: purple;
    background : rgb(255,100,80);
}

body{
    background : url(https://www.freevector.com/uploads/vector/preview/15044/FreeVector-Free-Wood-Texture.jpg);
    background-repeat : no-repeat;
    background-size : cover;
}