/*star selector */

*{
    border: 1px solid green;
}

/*descendant selector, below there, a is the descendent selector of li */

li a {
    color: hotpink;
}

/* adjacent selector , below there, ul is the adjacent selector of h4 */

h4 + ul {
    border : 4px solid red;
}

/*attribute selector, below there, all a with href = https://www.google.com is the attribute selector */

a[href="https://www.google.com"]{
    background-color: peru;
}

/* n-th of type */

ul:nth-of-type(3){
    background: darkcyan;
}