body{
   background: #bdc3c7; 
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: #0040FF;
}

p{
    background: yellow;
}

input{
    border: 3px solid red;
}

.hello {
    background: white;
}

#special {
    border: 2px solid rgb(0,100,200);
}

div  p {
    font-size: 25px
}

input[type="text"]{
    background: gray;
}

div:nth-of-type(3) p{
    background: pink;
}

div:nth-of-type(3) p:nth-of-type(2){
    border: 5px solid white;
}

div:nth-of-type(3) em {
    font-size:20px;
    color: white;
}

input:checked{
    margin-left: 50px;
}

label{
    text-transform: uppercase;
}

#special::first-letter{
    font-size: 100px;
    color: green;
}

h1:hover{
    color: blue;
}

a:visited{
    color:gray;
}